* {
  text-decoration: none;
}
.home {
  padding-bottom: 24px;
}
.home,
.article {
  background: #d1d8e0;
  min-height: 100vh;
}

.home__title {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  color: #3867d6;
}
.news-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px auto 0;
}
.news-card {
  margin: 16px;
  overflow: hidden;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.MuiButtonBase-root.news-card__btn {
  background-color: #0fb9b1;
  color: #fff;
}
.MuiButtonBase-root.news-card__btn:hover {
  background-color: #4b6584;
  color: #fff;
} 
.history {
  margin: 24px auto;
}

.history h4{
  text-align: center;
}

.history__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.history__item {
  margin: 8px 16px;
  padding: 8px;
  max-width: 300px;

}

.article__back-btn {
  align-self: center;
  padding: 0 2rem;
  font-size: 4rem;
  color: #eb3b5a;
  transition: color .2s ease-in-out;

}
.article__back-btn:hover {
  color: #cc0000
}

.article__wrapper {
  margin-top: 2rem;
}

.loading{
	width:100%;
	height:100%;
	display:block;
	position:absolute
	}

.loading:before,
.loading:after,
.loading>div{
	width:200px;
	height:200px;
	top:50%;
	left:50%;
	display:block;
	position:absolute;
	border-radius:50%;
	border:4px solid #4b6584;
	}

.loading:before
	{content:"";animation:scale 1s ease-in infinite}

.loading:after
	{content:"";animation:scale 2s ease-in infinite}

.loading>div{animation:scale 3s ease-in infinite}

@keyframes scale{
  from{transform:translate(-50%,-50%) scale(0,0)}
  to{transform:translate(-50%,-50%) scale(1,1)}
}

.article__title {
  text-align: center;
  color: #000;
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 16px 64px 32px;
}
.article__content {
  margin: 0 64px;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}

.article__content p {
  font-weight: 300;
  max-width: 90%;
  margin: 0 auto;
}

.element-image {
  width: 80%;
  margin: 24px auto;
}

.element-image img {
  width: 100%;
  object-fit: cover;
}